body {
  font-family: "Cutive Mono";
  min-width: auto;
  margin: 0 auto;
  /* padding: 0; */
  width: 60%;
  height: 100%;
  background: #121212;
  overflow-x: hidden;
}

@media (max-width: 1300px) {
  body {
    width: 85%;
  }
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ce822b;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.main-container {
  margin-top: 20%;
}

.kanji {
  font-family: 'Times New Roman', Times, serif;
  color: #ce822b;
  text-align: center;
  font-size: 30px;
  margin: 0px;
}
