body {
  font-family: 'Cutive Mono';
  margin: 10px;
  background-color: #121212
}

.main-container {
  border-radius: 10px;
  /* background-color: #1e1e1e; */
  margin: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px;
  margin: 10px;
}

.my-name {
  color: #e1e1e1;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.my-desc {
  color: #8b8c8b;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 8px;
}

.kanji {
  color: #ce822b;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
}

.logo {
  color: #8b8c8b;
  margin: 5px;
  cursor: pointer;
}

.logo:hover {
  color: #e1e1e1;
}

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
}