@media (max-width: 1400px) {
  .project {
    min-height: 100px !important;
    max-height: 100px !important;
    min-width: 150px !important;
    max-width: 150px !important;
  }
  .project .cardTitle {
    font-size: 20px !important;
    padding-top: 1.5rem !important;
    margin-bottom: 0;
  }
  .project p {
    font-size: 13px !important;
    padding: 0px !important;
    margin-top: 5px;
  }
}

.project {
  cursor: pointer;
  min-height: 150px;
  max-height: 150px;
  min-width: 200px;
  max-width: 200px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: #2a2a2a;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 10px;
  position: relative;
  color: #bebebe;
  margin: 0 10px;
  text-align: center;
}

.customIcon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: -20px;
}

.screen {
  width: 50px;
  height: 30px;
  border-top: 2px solid #929191;
  border-right: 2px solid #929191;
  border-left: 2px solid #929191;
  border-radius: 5px 5px 0px 0px;
  background-color: #cf812b;
  font-weight: bold;
  font-family: arial;
  color: #cecece;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.keyboard {
  width: 70px;
  height: 2px;
  border: 1px solid #272727;
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(233, 233, 233);
}

.github {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 50px solid rgb(196, 196, 196);
  border-left: 50px solid transparent;
  display: flex;
  right: 0;
}

.githubIcon {
  position: absolute;
  top: -46px;
  right: 1px;
  width: 25px;
  height: 25px;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.technology {
  width: 35px;
  height: 35px;
}

.cardTitle {
  font-family: 'Times New Roman', Times, serif;
  color: #cccccc;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding-top: 2rem;
}
