.skillCard {
  background: rgb(41, 41, 41);
  border-radius: 10px;
  /* width:100px; */
  display: flex;
  align-items: center;
  justify-items: center;
  /* justify-content: space-evenly; */
  padding: 0px 5px;
  margin: 5px;
}

.skillIcon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.skillName {
  color: rgb(201, 201, 201);
  font-size: 18px;
  font-weight: bolder;
  font-size: 15px;
}