@media (max-width: 500px) {
  .parent {
    display: flex !important;
    flex-direction: column;
    margin: 10px;
  }
}

.parent {
  /* display: grid;
  align-content: start; 
  grid-template-columns: minmax(170px, 40%) 1fr; */
  /* max-height: 80vh; */
  /* margin-bottom: 5%; */
  /* margin: 0 5%; */
}

.projects {
  height: 230px !important;
  /* margin-top: 40px; */
  /* padding: 0;
  text-align: center;
  display: grid;
  align-content: start; 
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.projects .react-multi-carousel-list {
  height: 220px !important;
}

.code {
  min-height: 50vh;
  max-height: 50vh;
}

.rigth {
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.codeFrame {
  padding: 0 !important;
  padding-top: 2.2em !important;
  box-shadow: unset !important;
  width: 60%;
  height: 100%;
}