@media (max-width: 500px) {
  .parent {
    display: flex !important;
    flex-direction: column;
    margin: 10px;
  }
}

.parent {
  display: grid;
  align-content: start; 
  grid-template-columns: minmax(170px, 40%) 1fr;
  max-height: 80vh;
  margin-bottom: 5%;
  /* margin: 0 5%; */
}

.projects {
  padding: 0;
  text-align: center;
  display: grid;
  align-content: start; 
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow-y: scroll;
  padding: 0 5%;
  direction: rtl;
  min-height: 83.5vh;
  max-height: 83.5vh;
}

.code {
  min-height: 80vh;
  max-height: 80vh;
}

.rigth {
  margin-right: 5%;
}

.codeFrame {
  padding: 0 !important;
  padding-top: 2.2em !important;
  box-shadow: unset !important;
}